<div class="center hero-unit">
  <h1>Welcome to the DOCAMP!</h1>

  <h2>
    DOCAMP is more than just a project management tool — it’s a better way to work. Teams that switch to DOCAMP are more productive and better organized. They communicate better and require fewer meetings. And they’re far more efficient than before.
  </h2>

</div>
