<% provide(:title, 'All users') %>
<h1 class="pageTitle">All users</h1>

<ul class="users">
  <% @users.order(:name).each do |user| %>
    <li>
      <%= link_to user.name, user, class: "userlist" %>
      <%= link_to user.email, user, class: "userlist"%>
      <% if current_user.admin? && !current_user?(user) %>
      
    |&nbsp; <%= link_to "delete", user, class: "del", method: :delete,
                                  data: { confirm: "Are you sure?" } %>
      <% end %>                            
    </li>
  <% end %>
</ul>
