<div id="Firstpage" class="center hero-unit">
   
  <h1>Welcome to the <span class="docamp">DOCAMP</span>!</h1>
 
  <h2>
    <span class="docamp">DOCAMP</span> is more than just a project management tool — it’s a better way to work. Teams that switch to DOCAMP are more productive and better organized. They communicate better and require fewer meetings. And they’re far more efficient than before.
  </h2>
  <%= link_to "Log in", 'login', class: "btn btn-login" %>
  <%= link_to "Sign up", 'signup', class: "btn btn-signup" %>
  
</div>
