// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.home {
    h3 {
      color: #e98074;
      font-size: 3rem;
    }
  
    .home-header {
      margin-bottom: 3rem;
    }
  }
  
  .project-col {
    margin-bottom: 1.5rem;
  }

  .button1 {
    margin: 20rem;
    background-color: #f2c76e;
    border:none;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 2rem;
    border-radius: 15px;
    &:hover {
      text-decoration: none;
      color: #283c46;
    }  
  }
  .button-right{
    text-align: right;
    margin-bottom: 20px;
    
  }

  .button2 {
    display:inline-flex;
    margin-bottom: 20px;
    width: 80px;
    background-color:#e98074;
    border:none;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 15px;
    &:hover {
      text-decoration: none;
      background-color:#f2c76e;
      color:#fff;
    }  
  }

  .button3 {
    display:inline-flex;
    
    margin-bottom: 20px;
    width: 90px;
    background-color:#f2c76e;
    border:none;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 15px;
    &:hover {
      text-decoration: none;
      background-color:#e98074;
      color:#fff;
    }  
  }


  .btn-success {
    background-color: #e98074;
    font-size: 1.5rem;
    &:hover{
        background-color: #f2c76e; 
    }     
  }
  
  .btn-secondary {
    font-size: 1.5rem;      
  }

  .form-control {
    font-size: 1.5rem;
  }

  .project-card {
    display: block;
    color: #413f3d;
    background-color: #fff;
    box-shadow: 0 1px 2px #aa9c84;
    border-radius: 6px;
    padding: 1.5rem;
    height: 100%;
  
    &:hover {
      text-decoration: none;
      color: #283c46;
    }
  
    h4 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  }

  main.container {
    margin-top: 4rem;
  }
  
  @media (min-width: 48em) {
    .container {
      max-width: 68rem;
    }
  }

  .project-popover {
    width: 220px;
    position: absolute;
    top: 3rem;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
    z-index: 1;
    background-color: #fff;
    padding: 1rem 1rem 2rem;
  }

  .is-hidden {
    display: none;
  }

  .project-name {
    color: #e98074;
    font-size: 3rem;
  }


  .project-title {
    margin-bottom: 3rem;
  }
  
  .project-col, .feature-col {
    margin-bottom: 1.5rem;
  }
  
  .project-card, .feature-card {
    display: block;
    color: #413f3d;
    background-color: #fff;
    box-shadow: 0 1px 2px #aa9c84;
    border-radius: 6px;
    padding: 1.5rem;
    height: 100%;
  
    &:hover {
      text-decoration: none;
      color: #e98074;
    }
  
    h4 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  }
  
  .feature-card {
    h4 {
      text-align: center;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0,0,0,0.25);
    }
    img {
      text-align: center;
      display: block;
      width: 48px;
      margin: 0 auto 1rem;
      margin-bottom: 2rem;
    }
    p {
      text-align: center;
    }
  }

.project-nav {
  text-align: center;
  font-size: 1.6rem;
  
  a {
    color: #e98074;
    text-decoration: underline;
  }
}

.chat-wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  
  .chat-form {
    margin-top: auto;
  }
}

.center {
  text-align: center;
}

.center h1 {
  margin: 60px;
  color: rgb(110, 110, 110);
  font-size: 7rem;
  font-weight: 700;
  .docamp{
    color:  #e98074;
  }
}

.center h2 {
  margin: 30px;
  margin-bottom: 60px;
  color: gray;
  font-size: 3rem;
  .docamp{
    color:  #e98074;
  }
}

.btn-login {
  width: 200px;
  height: 60px;
  text-align: center;
  margin-right: 60px;
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color:white;
  background-color: #e98074;
  font-size: 3rem;
  &:hover{
      background-color: #f2c76e; 
      color:white;
      text-decoration: none;
  }     
}

.btn-signup {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  color:white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #f2c76e;
  font-size: 3rem;
  &:hover{
      background-color: #e98074; 
      color:white;
      text-decoration: none;
  }     
}



/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1em;
      text-align: left;
     
      color:#e98074;
      margin-left: 40px;
      margin-bottom: 3px;
      margin-top: 10px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

#error_explanation {
  color: #e98074;
  font-size: 1em;
  font-style: oblique;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


#alert{
  background-color: #f2c76e;
  font-style: oblique;
  text-align: center;
}

.newuser{
  text-align: center;
}

.buttoncenter {
  background-color: #f2c76e;
  border:none;
  font-weight: 500;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 2rem;
  border-radius: 15px;    
}

.linkcolor {
  color:  #f2c76e; 
  font-size: 1.5rem;
  &:hover{
      color:#e98074;
  }     
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid;
    
    color:#413f3d;
    &:last-child {
      border-bottom: 1px solid;

    }
  }
  .userlist{
    padding-right:10px; 
    color:#413f3d;
  }
  .del{
    color:#e98074;
  }
}

.allprojects{
  width: 100%;
  h1{
  text-align: center;
  color:#e98074;
  }
}

.allprojs{
  padding-right: 10%;
  padding-left: 10%;
  margin: 20px;
}
